/*start of top-menu div
it is all about the fixed navbar
*/
body{
    background-color: #f8f9fa;
    
}


.top-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
}

.top-menu .fa-youtube{
    color: red;  
    cursor: pointer;
   
}


.top-menu .youtube{
    cursor: pointer;
}


.top-menu .egypt{
    color: gray;
    position: relative;
    bottom: 20px;
    
}

.top-menu .fa-ellipsis-v{
    cursor: pointer;
}

.top-menu .fa-th{
    cursor: pointer;
  
    
}

.top-menu .mice {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
     background-color: #eee;
     text-align: center;
}

.top-menu #signButton{
    max-width: 95px;
    overflow: hidden;
    
    
}




.top-menu .fa-bars{
    cursor: pointer;
}


.next-fixed-menu{
    position: fixed;
    top: 80px;
    z-index: 3;
    width: 100%;
    height: 70px;
    background-color: white;
}

.next-fixed-menu div{
    position: fixed;
    top: 90px;
  
}

.next-fixed-menu .address .btn{
    background-color: #eee;
     border-radius: 20px;
   
}






a{
    text-decoration: none;
    color: black;
}


a:hover{
    text-decoration: none;
    color: black;
}




.next-fixed-menu .address .btn:hover{
    background-color: gray;
    text-decoration: none;
   
   
}





.next-fixed-menu .address .btn:hover{
    background-color: gray;
    text-decoration: none;
   
   
}






.side-bar{
    position: fixed;
    height: 100%;
    background-color: white;

    
}

.side-bar .home{
    position: relative;
    top: 13px;

}

.side-bar .fa-compass{
    padding-top: 50px;
}

.side-bar .explore{
    position: relative;
    top: 13px;
    
}

.side-bar .fa-youtube{
    padding-top: 50px;
}

.side-bar .explore{
    position: relative;
    top: 13px;

}

.side-bar .fa-book{
    padding-top: 50px;
}

.side-bar .library{
    position: relative;
    top: 13px;
  
}


.side-bar .fa-history{
    padding-top: 50px;
}

.side-bar .history{
    position: relative;
    top: 13px;
   
}
/*end of top-menu*/



/*start of sport*/
.sport{
    margin-top: 170px;
}



.sport .main-video video{
    width: 100%;
}

.sport-icon{
    display: flex;
    
}


.sport .icon{
    justify-content: flex-end;
    display: flex;
    width: 50%;
    margin-left: 100px;
}

.sport-icon i{
    margin-left: 10px;
    cursor: pointer;
    padding-right:15px;
 
}

.sport-icon span{
    cursor: pointer;
 
}










.sport .main-video .channel-name .main_channelName{
    position: relative;
    left: 2px;
}

.sport .main-video .channel-name .main_subscriber{
    padding-left: 50px;
    position: relative;
    bottom: 10px;
    right: 7px;
    color: gray;
}

.sport .main-video .channel-name .main_description{
    padding-left: 45px;
}




.sport .main-video .channel-name .sorted {
    
    font-size: 16px;
    font-weight: bold;
}

.sport .main-video .channel-name .control .comment-div{
    padding-left: 13px;
    padding-bottom: 10px;

}

.sport .main-video .channel-name .control  .comment-div div{

    padding-bottom: 10px;
}




.sport .main-video .under-video .video_title {
    padding-top: 10px;
}



.main-video .channel-name .main_image{
    position: relative;
    top: 10px;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.sport .main-video .channel-name .btn{
    width: 104px;
    margin-top: 6px;
    background-color: red;
    color: white;
}

.sport .main-video .sport-iconUnder{
    display: flex;
    
}



.playall{
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}





.sport .video-list .video_watch video{
    width:50%;
    max-height: 250px;
    cursor: pointer;
    margin-bottom: 5px;
}


.sport .video-list .video_watch .video_title{
    
    font-weight: thin;
    font-size: 18px;
}







 .circle{
    position: relative;
    top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}




.sport .video_list .video_watch .subscribersUnder{
    padding-left: 50px;
    position: relative;
    bottom: 10px;
}



.sport .video-list .iconUnder{
    justify-content: flex-end;
    display: flex;
    width: 50%;
    margin-left: 70px;
    display: none;
}


.control input{
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.control input {
    border-bottom: 2px solid gray;
    background-color:#f8f9fa;;
}






.sent{
    height: 300px;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll; 
    background-color: red;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    position: relative;

  
}

.sent div{
   
    padding-bottom: 10px;
}



.message {
    position: absolute;
    top: 0;
    background-color: green;
    height: 30px;
    width: 100%;
    left: 0;
    line-height:30px;
    text-align: center;
     border: none;
    color: red;
}







.sent2{
    height: 300px;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll; 
    background-color: red;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    position: relative;
   
  
 
  
}

.sent2 div{
   
    padding-bottom: 10px;
}



.message2 {
    position: absolute;
    top: 0;
    background-color: green;
    height: 30px;
    width: 100%;
    left: 0;
    line-height:30px;
    text-align: center;
     border: none;
    color: red;
}


.button{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

